# Core automation
playwright==1.55.0
PyPDF2==3.0.1
pandas==2.3.3
requests==2.32.5

# Web backend
flask==3.0.3

# Optional UI (Streamlit)
streamlit==1.51.0

# Logging and config
python-dateutil==2.9.0.post0
python-json-logger==4.0.0
PyYAML==6.0.3
configparser==6.0.1


# Safe utilities
beautifulsoup4==4.14.2
soupsieve==2.8
urllib3==2.5.0
charset-normalizer==3.4.4
idna==3.11
certifi==2025.10.5
typing-extensions>=4.5.0